*{
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
body{
    background-position: center;
    background-size: cover;
    display: block;
    background-attachment: fixed;
    text-align: center;
    color:whitesmoke;
    background-color: black;
}

/*.wrapper{
    background-color: black;
}*/
button{
    margin: 12px 4px 5px 4px;
    padding: 12px;
}

p{
    margin: 9px 4px 0px 4px;
    font-size: medium;

}
h1{
    margin: 12px 4px 0px 4px;
    padding-top: 3px;
}
h2{
    margin: 12px 4px 0px 4px;
}
.tab-content2 p{
    background-color: transparent;
}
